div.home-view {
  > div.job-search-input-wrapper {
    // width: 600px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  div.recent-job-opening-wrapper {
    margin-top: 50px;
    width: fit-content;
    div.recent-job-opening {
      width: 300px;
    }
  }
}