div.home-view {
  > div.job-search-input-wrapper {
    width: 420px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  div.recent-job-opening-wrapper {
    margin-top: 50px;
    width: fit-content;
    div.recent-job-opening {
      width: 300px;
      @media screen and (max-width: 1000px) {
        max-width: 700px;
        text-align: center;
        margin: auto;
        display: block;
      }
      @media screen and (max-width: 700px) {
        max-width: 400px;
        text-align: center;
        margin: auto;
        display: block;
      }
    }
  }
}